<link rel="stylesheet" href="css/products.css" type="text/css" />

<div class="productsDiv">
<div class="container">
<div class="row text-center">
    <h1 class="white mt-2 mb-5">Productos:</h1>
</div>

<div class="row" id="listProducts">

</div>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

{{!-- realTimeProducts.handlebars”, la cual vivirá en el endpoint “/realtimeproducts” en nuestro views router, ésta contendrá la misma lista de productos, sin embargo, ésta trabajará con websockets. --}}
